.footer {
   background: #f8f8f8;
   box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);
    & .flex-container {
        display: flex;
        justify-content: space-between;
        min-width: 980px;
        max-width: 980px;
        margin: 0 auto;

        & .flex-item {

            &:nth-child(2) {
                margin-top: 42px;
            }
            &:nth-child(3) {
                margin-top: 42px;
            }

            & p {
            opacity: 0.5;
            color: #393939;
            font-family: $primaryFont;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: -0.1px;

            &:last-child {
            opacity: 0.3;
            color: #393939;
            font-family: $primaryFont;
            font-size: 11px;
            font-weight: 400;
            line-height: 19px;
                 }
            }


            & ul {
                padding-left: 0;

                & li {

                    list-style-type: none;

                    & a {
                        text-decoration: none;
                        opacity: 0.3;
                        color: #393939;
                        font-family: $primaryFont;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 19px;
                    }

                }
            }

            & .social__wrapper {
             
                & a {
                    width: 24px;
                    height: 25px;
                    background: url(../img/soc-nav.png);
                    transition: $primaryTrans;
                    
                }

                & a:nth-child(1) {
                    background-position: -34px -0px;
                    display: inline-block;
                    &:hover {
                        background-position: -5px -0px;
                    }
                }

                & a:nth-child(2) {
                    background-position: -34px -29px;
                    display: inline-block;
                    &:hover {
                        background-position: -5px -29px; 
                    }
                }

                & a:nth-child(3) {
                    background-position: -34px -58px;
                    display: inline-block;
                    &:hover {
                        background-position: -5px -58px;
                    }
                }

                & a:nth-child(4) {
                    background-position: -34px -87px;
                    display: inline-block;
                    &:hover {
                        background-position: -5px -87px;
                    }
                }

            }

            &:nth-child(1){

                & a {
                    transition: $primaryTrans;
                    
                    &:hover {
                        color: $primaryColor;
                        opacity: 1;
                    }

                }

            }
            &:nth-child(2){

                & a {
                    transition: $primaryTrans;
                    
                    &:hover {
                        color: $primaryColor;
                        opacity: 1;
                    }

                }

            }
            &:nth-child(3){

                & a {
                    transition: $primaryTrans;
                    
                    &:hover {
                        color: $primaryColor;
                        opacity: 1;
                    }

                }

            }
            &:nth-child(4){

                & a {
                    transition: $primaryTrans;
                    
                    &:hover {
                        color: $primaryColor;
                        opacity: 1;
                    }

                }

            }

        }

    }
}


.main {
    max-width: 980px;
    min-width: 980px;
    margin: 0 auto;
}
.header {
    max-width: 980px;
    min-width: 980px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

