.main {
    
    & .header__section { // begin header sections
        background: #87509c;
        padding-top: 150px;
        padding-bottom: calc(150px + 82px);

        & .header__text {
            text-align: center;
            
            & p {
                text-align: center;
                color: #f7f3ea;
                font-family: $primaryFont;
                font-size: 42px;
                font-weight: 700;
                line-height: 48.82px;
                text-transform: uppercase;
                margin-bottom: 54px;
            }


        }

        & .header__link {
            padding: 20px 60px;
            background: #eb7d4b;
            display: inline-block;
            text-decoration: none;
            color: #ffffff;
            font-family: $primaryFont;
            font-size: 18px;
            font-weight: 400;
            line-height: 26.19px;
            text-transform: uppercase;
            letter-spacing: 0.27px;
            border-radius: $primaryBorderRadious;
            -webkit-box-shadow: 0px 4px 0px 0px rgba(200,106,64,1);
            -moz-box-shadow: 0px 4px 0px 0px rgba(200,106,64,1);
            box-shadow: 0px 4px 0px 0px rgba(200,106,64,1);
            transition: $primaryTrans;

            &:hover {
                background: #c86a40;
            }

        }

    } // end header sections

    & .services__we--provide { // begin services we provide sections
        background: $servicesWeProvideColor;
        padding-top: 115px;
        padding-bottom: 115px;


        & .services__heading {
            
            & p {
                color: #ffffff;
                @include heading;

                &::after {
                    @include underline;
                }

            }

        }

        & .services__descriptions {
            
            & p {
                color: #ffffff;
                @include descriptions;
            }

        }

        & .services__item {
            text-align: center;

            & .services__item--heading {
                color: #ffffff;
                font-family: $primaryFont;
                font-size: 24px;
                font-weight: 700;
                line-height: 18px;
                text-transform: uppercase;
                letter-spacing: 0.48px;
            }

            & .services__item--descriptions {
                color: #ffffff;
                font-family: $primaryFont;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0.32px;
            }

        }

    } // end services we provide sections

    & .meet__team { // begin meet team sections
        background: $meetTeamColor;
        padding-top: 115px;
        padding-bottom: 115px;

        & .meetteam__heading {
            
            & p {
                color: #000000;
                @include heading;

                &::after {
                    @include underline;
                }

            }

        }

        & .meetteam__descriptions {

            & p {
                color: #000000;
                @include descriptions;
            }

        }

        & .meetteam__item {
            text-align: center;
            margin-bottom: 25px;

            & .meetteam__item--heading {
                
                & p:first-of-type {
                    color: #27283d;
                    font-family: $primaryFont;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 18px;
                    text-transform: uppercase;
                    letter-spacing: 0.48px;
                }

                & .work__position {
                    color: #30bae7;
                    font-family: $primaryFont;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0.32px;
                }

            }

            & .meetteam__item--descriptions {
                
                & p {
                    color: #3c4761;
                    font-family: $primaryFont;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 0.32px;
                }

            }

            & .meetteam__item--socials {
                display: inline-block;
                text-align: center;

                & ul {
                    list-style: none;
                    padding-inline-start: 0;

                    & li {
                        float: left;
                        margin-right: 40px;
                        

                        &:last-child {
                            margin-right: 0;
                        }

                        & a {
                            font-size: 16px;
                            position: relative;
                            z-index: 1;
                            color: #ffffff;
                            transition: $primaryTrans;

                            &::after {
                                content: "";
                                width: 40px;
                                height: 40px;
                                background: #bdd1df;
                                border-radius: 50px;
                                position: absolute;
                                left: -13px;
                                top: -10px;
                                z-index: -1;
                            }

                            &:hover {
                                color: #000000;

                                &::after {
                                    content: "";
                                    background: #ffffff;
                                    
                                }
                            }

                        }

                    }


                }

            }

        }

    } // end meet team sections


}
